<div>
  <h1>餐廳後台</h1>
  <div class="d-flex flex-nowrap">
    <a href="/admin/restaurants" class="p-1">Restaurants</a>
    <p>|</p>
    <a href="/admin/Users" class="p-1">Users</a>
    <p>|</p>
    <a href='/admin/categories' class="p-1">Categories</a>
  </div>
  <br />
  <br />

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
        <th scope="col">#</th>
      </tr>
    </thead>
    <tbody>
      {{#each Users}}
      <tr>
        <th scope="row">{{this.id}}</th>
        <td>{{this.name}}</td>
        <td>{{this.email}}</td>
        <td>
          {{#if this.isAdmin}}
          admin
          {{else}}
          user
          {{/if}}
        </td>
        <td>
          <form action="/admin/users/{{this.id}}/toggleAdmin?_method=PUT" method="POST" style="display: inline;">
            <button type="submit" class="btn btn-link">
              {{#if this.isAdmin}}
              set as user
              {{else}}
              set as admin
              {{/if}}
            </button>
          </form>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>